

    <!-- Start Header -->
      <header id="mu-header" [class.mu-fixed-nav]="fixMenu" role="banner">
		<div class="container">
              <nav class="navbar navbar-expand-lg navbar-dark">
                <div class=" navbar-header d-flex flex-grow-1">
                    <a class="navbar-brand Brand-text" href="#"><img src="assets/image/logo.svg" height="50" width="400" alt="logo"></a>
                    <div class="w-100 text-right" style="margin-top: 12px;">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                            <span class="navbar-toggler-icon" ></span>
                        </button>
                    </div>
                </div>
                <div class="collapse navbar-collapse flex-grow-1 text-left" id="myNavbar">
                    <ul class="navbar-nav mu-menu ml-auto flex-nowrap">
                        <li class="nav-item nav-menu" [class.active]="selectedMenu==='home'">
                            <a class="m-2 menu-item" (click)="ScrollToTarget('home','mu-hero')">Home</a>
                        </li>
                        <li class="nav-item nav-menu" [class.active]="selectedMenu==='service'">
                            <a class="m-2 menu-item"  (click)="ScrollToTarget('service','mu-book-overview')">Services</a>
                        </li>
                        <!-- <li class="nav-item nav-menu">
                            <a href="#" class="nav-link m-2 menu-item">Partners</a>
                        </li> -->
                        <li class="nav-item nav-menu" [class.active]="selectedMenu==='about'">
                            <a class="m-2 menu-item"  (click)="ScrollToTarget('about','mu-author')">About Us</a>
                        </li>
                        <!-- <li class="nav-item nav-menu">
                            <a href="#mu-contact" class="nav-link m-2 menu-item" (click)="ScrollToTarget(mu-book-overview,career)">Career</a>
                        </li> -->
                        <li class="nav-item nav-menu" [class.active]="selectedMenu==='contact'">
                            <a  class="m-2 menu-item"  (click)="ScrollToTarget('contact','mu-contact')">Contact</a>
                        </li>
                    </ul>
                    <button class="btn btn-primary">Sign in</button>
                </div>
            </nav>
        </div>
        <marquee direction="left" style="background-color: red;margin-top: 5px;height: 30px;">TEXT</marquee>
    </header>
	<!-- End Header -->
    
	<!-- Start Featured Slider -->
	<section id="mu-hero">
		<div class="container">
            <div *ngIf="testsList" class="flex-row">
                <div class="flex-column" *ngFor="let test of testsList" (click)="openTest(test.id)">
                    <img class="img-fluid home-img" src="{{test.image}}">
                </div>
              </div>
		</div>
	</section>
	
	<!-- Start Featured Slider -->
	
	<!-- Start main content -->
		
	<main role="main">

		<!-- Start Book Overview -->
		<section id="mu-book-overview">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="mu-book-overview-area">

							<div class="mu-heading-area">
								<h2 class="mu-heading-title">Our Services</h2>
								<span class="mu-header-dot"></span>
								<p class="textJustifyClass">We provide app and web-based services for “life design” in the simplest yet most scientific ways
                                    to help you understand yourself better and guide you through your journey in life.</p>
							</div>

							<!-- Start Book Overview Content -->
                            <div class="home-div">
                                <div class="flex-row">
                                    <div class="flex-column">
                                        <div>
                                            <img class="img-fluid service-img" src="assets/image/Psychometric_assessment.png">
                                        </div>
                                        <div class="service-text-div">
                                            <p class="textJustifyClass">Psychometric assessment for children in
                                                8 Indian languages based on their age, to
                                                help them understand their true interest,
                                                orientation, inclination, personality and
                                                aptitude & recommend suitable streams &
                                               professions</p>
                                        </div>
                                    </div>
                                    <div class="flex-column">
                                        <div>
                                            <img class="img-fluid service-img" src="assets/image/Psychological_counselling.png">
                                        </div>
                                        <div  class="service-text-div">
                                            <p class="textJustifyClass">Psychological counselling to help
                                                children cope with the various difficulties
                                                they face in a friendly, simple, interesting
                                                yet effective way with the aim of getting
                                                every child to know that they are worth it</p>
                                        </div>
                                    </div>
                                    <div class="flex-column">
                                        <div>
                                            <img class="img-fluid service-img" src="assets/image/Wellness_Suite.png">
                                        </div>
                                        <div class="service-text-div">
                                            <p class="textJustifyClass">Wellness Suite to assess current state of
                                                mind and suggest simple, doable and
                                                amazing methods to overcome any kinds
                                                of life issues</p>
                                        </div>
                                    </div>
                                    <div class="flex-column">
                                        <div>
                                            <img class="img-fluid service-img" src="assets/image/IQ_enhancer.png">
                                        </div>
                                        <div class="service-text-div">
                                            <p class="textJustifyClass">IQ enhancer to help everyone with the
                                                tricks of effective learning and
                                                understanding in order to enhance IQ
                                                based on credible and proven scientific  
                                                methods</p>
                                        </div>
                                    </div>
                                    <div class="flex-column" style="margin-left: auto;margin-right: auto;">
                                        <div>
                                            <img class="img-fluid service-img" src="assets/image/Mentorship.png">
                                        </div>
                                        <div class="service-text-div">
                                            <p class="textJustifyClass">Mentorship programme for children by giving them
                                                appropriate one-on-one guidance and hand-holding thereby
                                                enhancing self- belief, self-confidence and a zeal to excel.
                                                Conducted by experts who have mentored some of the most
                                                successful children</p>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </div>
							<!-- End Book Overview Content -->

						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Book Overview -->

		

		<!-- Start Author -->
		<section id="mu-author">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="mu-author-area">

							<div class="mu-heading-area">
								<h2 class="mu-heading-title">About us</h2>
								<span class="mu-header-dot"></span>
							</div>

							<!-- Start Author Content -->
							<div class="home-div">
                                <div class="row row-bottom-padded-md">
                                    <div class="col-md-6 ">
                                        <img class="img-fluid" src="assets/image/Andy_cover.jpg">
                                    </div>
                                    <div class="col-md-6">
                                        <p class="textJustifyClass">We at Disha Kiran believe that we can help everyone discover their true self by the means of most scientific, proven,
                                            established yet very simple methods of
                                            assessment. We have a burning desire to
                                            reach as many children &amp; adults to design
                                            their lives based on their true interests,
                                            aptitude, orientation &amp; inclination so that
                                            everyone follows their “true north” and
                                            enjoys the journey called life</p>
                                            <div style="background-color: slategray;padding-left: 5px;">
                                                <p style="color: powderblue;font-weight: bold;">“Imagine Amitabh Bachchan being a cricketer or Sachin Tendulkar being a singer or
                                                    Dr Abdul Kalam being a politician “– Would they have been as successful?"</p>
                                            </div>
                                            <p class="textJustifyClass">Why are some people more successful than others? Is it just hard work or luck or perseverance or is it
                                                something much more than that? Disha Kiran believes that it takes doing what you genuinely like,
                                                following the path where your inherent interest takes you, being in the domain which synchronizes with
                                                your original orientation.</p>
                                            <p class="textJustifyClass">Every child is brilliant and unique and has the potential to rise to great heights, only if the child knows
                                                    what excites them the most or what is their real passion. Disha Kiran helps every child find their true
                                                    brilliance and then guides them through the journey of life to reach the stars.</p>
                                            <p class="textJustifyClass">We use psychometric assessment which is the most advanced and uses trusted scientific tools to
                                                continuously evolve using artificial intelligence, virtual reality and augmented reality technologies. Come
                                                and experience the true power of psychometrics.</p>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="home-div">
                                <div *ngIf="teamData" class="flex-row">
                                    <div *ngFor="let team of teamData" class="flex-column" (click)="openDetail(team.id)">
                                            <img class="img-responsive rounded-img" src="{{team.image}}">
                                                <p style="text-align: center;">{{team.name}}</p>
                                    </div>
                                    
                                </div>
                            </div>
							<!-- End Author Content -->

						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Author -->
	
		<!-- Start Contact -->
		<section id="mu-contact">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="mu-contact-area">

							<div class="mu-heading-area">
								<h2 class="mu-heading-title">Drop Us A Message</h2>
								<span class="mu-header-dot"></span>
								<!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p> -->
							</div>

							<!-- Start Contact Content -->
							<div class="mu-contact-content">

								<div id="form-messages"></div>
								<form id="ajax-contact" method="post" action="mailer.php" class="mu-contact-form">
									<div class="form-group">                
										<input type="text" class="form-control" placeholder="Name" id="name" name="name" required>
									</div>
									<div class="form-group">                
										<input type="email" class="form-control" placeholder="Enter Email" id="email" name="email" required>
									</div>              
									<div class="form-group">
										<textarea class="form-control" placeholder="Message" id="message" name="message" required></textarea>
									</div>
									<button type="submit" class="mu-send-msg-btn"><span>SUBMIT</span></button>
						        </form>

							</div>
							<!-- End Contact Content -->

						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Contact -->

		<!-- Start Google Map -->
		<section id="mu-google-map">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d589888.4396405783!2d-82.41588603632052!3d32.866951223053896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f9f727a4ed30eb%3A0xf2139b0c5c7ae1ec!2sDooley+Branch+Rd%2C+Millen%2C+GA+30442%2C+USA!5e0!3m2!1sen!2sbd!4v1497376364225" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
		</section>
		<!-- End Google Map -->

	</main>
	
	<!-- End main content -->	
			
			
	<!-- Start footer -->
	<footer id="mu-footer" role="contentinfo">
		<div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <p class="content">News & Media</p>
                </div>
                <div class="col-sm-3">
                    <p class="content"> Privacy Policy</p>
                </div>
                <div class="col-sm-3">
                    <p class="content">Support</p>
                </div>
                <div class="col-sm-3">
                    
                    <div class="mu-footer-area">
                        <div class="mu-social-media">
                            <a href="#"><i class="fab fa-facebook-square"></i></a>
                            <a href="#"><i class="fab fa-twitter-square"></i></a>
                            <a href="#"><i class="fab fa-google-plus-square"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
			
		</div>
	</footer>
    <!-- End footer -->

    <div id="personModal" class="modal"  [class.modal-open]="openModal"  *ngIf="persons">
        <div class="modal-content" [ngStyle]="{'width': modalWidth+'px'}">
          <div class="Modal-header">
            <h3 style="position:relative;float:left;">{{persons.name}}</h3>
            <span class="close" (click)="closeDetails()">&times;</span>
          </div>
          <hr>
          <div>
              {{persons.details}}
          </div>
        </div>
      </div>  
      <div id="testModal" class="modal"  [class.modal-open]="openTestModal" *ngIf="testData">
        <div class="modal-content" [ngStyle]="{'width': modalWidth+'px', 'height': modalHeight+'px'}">
          <div class="Modal-header">
            <h3 class="modal-Heading">{{testData.name}}</h3>
            <span class="close" (click)="closeTest()">&times;</span>
          </div>
          <hr>
          <div class="modal-body">
              <div *ngIf="!isTestEnable">
              hsdjfsfhsfsfnsjfhsmfdfhsaufdsjfhsfdhuisfsjdfhjsddfsfhkjsdfhjsdfhjsddfhskdfhsjkfjksddhffjksfjkshfjksahfjksfhjsahfjshfjksahfjksahfjksaddhfjksahfjhsafjkhsadjkhh
              fgsdfhjgsadfhjsadjkldfghjasdfbhjasdsgfhjkhabdsljhjbabdsdjkhfbaehjesfgw
              gfgdsdhhgfdadksjkhfadsjhfsdajkhfsddjkljghjsadghjasdafgowaegaefdkjawhdwsjkgdfiou
              fghasdfhjklsadzgasdbfjkkadsksadhaebsdjkbsadlzfbasbdfiueasdljkvboiusadfvbieasdgioubeogb
              gsduydagvhjkldsfghviusdnvhergisdniudsahvjksdhhiuernsdhergdskjneasiudhgjkaeshdoiuasdiuhasdkljasuijkgeui
              gahjsdfgouysadfhasddfhasddfhasd,dfuiadsfhiuasdhfksadghfhlasddfhsadasjfiuasddfugaddsfjkadsioufiuasesdftyhawaeesfdgoasdfhijol
              fsdghhsdijafgiouasddfsadfhhasd dfyuyasdsdfhaisdfhawiuesdfhyashzvasdsduiawaewhsdfjk;khasiuzfxcvhasdsufhvashvaesgodfu
              hsdjfsfhsfsfnsjfhsmfdfhsaufdsjfhsfdhuisfsjdfhjsddfsfhkjsdfhjsdfhjsddfhskdfhsjkfjksddhffjksfjkshfjksahfjksfhjsahfjshfjksahfjksahfjksaddhfjksahfjhsafjkhsadjkhh
              fgsdfhjgsadfhjsadjkldfghjasdfbhjasdsgfhjkhabdsljhjbabdsdjkhfbaehjesfgw
              gfgdsdhhgfdadksjkhfadsjhfsdajkhfsddjkljghjsadghjasdafgowaegaefdkjawhdwsjkgdfiou
              fghasdfhjklsadzgasdbfjkkadsksadhaebsdjkbsadlzfbasbdfiueasdljkvboiusadfvbieasdgioubeogb
              gsduydagvhjkldsfghviusdnvhergisdniudsahvjksdhhiuernsdhergdskjneasiudhgjkaeshdoiuasdiuhasdkljasuijkgeui
              gahjsdfgouysadfhasddfhasddfhasd,dfuiadsfhiuasdhfksadghfhlasddfhsadasjfiuasddfugaddsfjkadsioufiuasesdftyhawaeesfdgoasdfhijol
              fsdghhsdijafgiouasddfsadfhhasd dfyuyasdsdfhaisdfhawiuesdfhyashzvasdsduiawaewhsdfjk;khasiuzfxcvhasdsufhvashvaesgodfu
              hsdjfsfhsfsfnsjfhsmfdfhsaufdsjfhsfdhuisfsjdfhjsddfsfhkjsdfhjsdfhjsddfhskdfhsjkfjksddhffjksfjkshfjksahfjksfhjsahfjshfjksahfjksahfjksaddhfjksahfjhsafjkhsadjkhh
              fgsdfhjgsadfhjsadjkldfghjasdfbhjasdsgfhjkhabdsljhjbabdsdjkhfbaehjesfgw
              gfgdsdhhgfdadksjkhfadsjhfsdajkhfsddjkljghjsadghjasdafgowaegaefdkjawhdwsjkgdfiou
              fghasdfhjklsadzgasdbfjkkadsksadhaebsdjkbsadlzfbasbdfiueasdljkvboiusadfvbieasdgioubeogb
              gsduydagvhjkldsfghviusdnvhergisdniudsahvjksdhhiuernsdhergdskjneasiudhgjkaeshdoiuasdiuhasdkljasuijkgeui
              gahjsdfgouysadfhasddfhasddfhasd,dfuiadsfhiuasdhfksadghfhlasddfhsadasjfiuasddfugaddsfjkadsioufiuasesdftyhawaeesfdgoasdfhijol
              fsdghhsdijafgiouasddfsadfhhasd dfyuyasdsdfhaisdfhawiuesdfhyashzvasdsduiawaewhsdfjk;khasiuzfxcvhasdsufhvashvaesgodfu
              hsdjfsfhsfsfnsjfhsmfdfhsaufdsjfhsfdhuisfsjdfhjsddfsfhkjsdfhjsdfhjsddfhskdfhsjkfjksddhffjksfjkshfjksahfjksfhjsahfjshfjksahfjksahfjksaddhfjksahfjhsafjkhsadjkhh
              fgsdfhjgsadfhjsadjkldfghjasdfbhjasdsgfhjkhabdsljhjbabdsdjkhfbaehjesfgw
              gfgdsdhhgfdadksjkhfadsjhfsdajkhfsddjkljghjsadghjasdafgowaegaefdkjawhdwsjkgdfiou
              fghasdfhjklsadzgasdbfjkkadsksadhaebsdjkbsadlzfbasbdfiueasdljkvboiusadfvbieasdgioubeogb
              gsduydagvhjkldsfghviusdnvhergisdniudsahvjksdhhiuernsdhergdskjneasiudhgjkaeshdoiuasdiuhasdkljasuijkgeui
              gahjsdfgouysadfhasddfhasddfhasd,dfuiadsfhiuasdhfksadghfhlasddfhsadasjfiuasddfugaddsfjkadsioufiuasesdftyhawaeesfdgoasdfhijol
              fsdghhsdijafgiouasddfsadfhhasd dfyuyasdsdfhaisdfhawiuesdfhyashzvasdsduiawaewhsdfjk;khasiuzfxcvhasdsufhvashvaesgodfu
              hsdjfsfhsfsfnsjfhsmfdfhsaufdsjfhsfdhuisfsjdfhjsddfsfhkjsdfhjsdfhjsddfhskdfhsjkfjksddhffjksfjkshfjksahfjksfhjsahfjshfjksahfjksahfjksaddhfjksahfjhsafjkhsadjkhh
              fgsdfhjgsadfhjsadjkldfghjasdfbhjasdsgfhjkhabdsljhjbabdsdjkhfbaehjesfgw
              gfgdsdhhgfdadksjkhfadsjhfsdajkhfsddjkljghjsadghjasdafgowaegaefdkjawhdwsjkgdfiou
              fghasdfhjklsadzgasdbfjkkadsksadhaebsdjkbsadlzfbasbdfiueasdljkvboiusadfvbieasdgioubeogb
              gsduydagvhjkldsfghviusdnvhergisdniudsahvjksdhhiuernsdhergdskjneasiudhgjkaeshdoiuasdiuhasdkljasuijkgeui
              gahjsdfgouysadfhasddfhasddfhasd,dfuiadsfhiuasdhfksadghfhlasddfhsadasjfiuasddfugaddsfjkadsioufiuasesdftyhawaeesfdgoasdfhijol
              fsdghhsdijafgiouasddfsadfhhasd dfyuyasdsdfhaisdfhawiuesdfhyashzvasdsduiawaewhsdfjk;khasiuzfxcvhasdsufhvashvaesgodfu
              hsdjfsfhsfsfnsjfhsmfdfhsaufdsjfhsfdhuisfsjdfhjsddfsfhkjsdfhjsdfhjsddfhskdfhsjkfjksddhffjksfjkshfjksahfjksfhjsahfjshfjksahfjksahfjksaddhfjksahfjhsafjkhsadjkhh
              fgsdfhjgsadfhjsadjkldfghjasdfbhjasdsgfhjkhabdsljhjbabdsdjkhfbaehjesfgw
              gfgdsdhhgfdadksjkhfadsjhfsdajkhfsddjkljghjsadghjasdafgowaegaefdkjawhdwsjkgdfiou
              fghasdfhjklsadzgasdbfjkkadsksadhaebsdjkbsadlzfbasbdfiueasdljkvboiusadfvbieasdgioubeogb
              gsduydagvhjkldsfghviusdnvhergisdniudsahvjksdhhiuernsdhergdskjneasiudhgjkaeshdoiuasdiuhasdkljasuijkgeui
              gahjsdfgouysadfhasddfhasddfhasd,dfuiadsfhiuasdhfksadghfhlasddfhsadasjfiuasddfugaddsfjkadsioufiuasesdftyhawaeesfdgoasdfhijol
              fsdghhsdijafgiouasddfsadfhhasd dfyuyasdsdfhaisdfhawiuesdfhyashzvasdsduiawaewhsdfjk;khasiuzfxcvhasdsufhvashvaesgodfu
              hsdjfsfhsfsfnsjfhsmfdfhsaufdsjfhsfdhuisfsjdfhjsddfsfhkjsdfhjsdfhjsddfhskdfhsjkfjksddhffjksfjkshfjksahfjksfhjsahfjshfjksahfjksahfjksaddhfjksahfjhsafjkhsadjkhh
              fgsdfhjgsadfhjsadjkldfghjasdfbhjasdsgfhjkhabdsljhjbabdsdjkhfbaehjesfgw
              gfgdsdhhgfdadksjkhfadsjhfsdajkhfsddjkljghjsadghjasdafgowaegaefdkjawhdwsjkgdfiou
              fghasdfhjklsadzgasdbfjkkadsksadhaebsdjkbsadlzfbasbdfiueasdljkvboiusadfvbieasdgioubeogb
              gsduydagvhjkldsfghviusdnvhergisdniudsahvjksdhhiuernsdhergdskjneasiudhgjkaeshdoiuasdiuhasdkljasuijkgeui
              gahjsdfgouysadfhasddfhasddfhasd,dfuiadsfhiuasdhfksadghfhlasddfhsadasjfiuasddfugaddsfjkadsioufiuasesdftyhawaeesfdgoasdfhijol
              fsdghhsdijafgiouasddfsadfhhasd dfyuyasdsdfhaisdfhawiuesdfhyashzvasdsduiawaewhsdfjk;khasiuzfxcvhasdsufhvashvaesgodfu
              hsdjfsfhsfsfnsjfhsmfdfhsaufdsjfhsfdhuisfsjdfhjsddfsfhkjsdfhjsdfhjsddfhskdfhsjkfjksddhffjksfjkshfjksahfjksfhjsahfjshfjksahfjksahfjksaddhfjksahfjhsafjkhsadjkhh
              fgsdfhjgsadfhjsadjkldfghjasdfbhjasdsgfhjkhabdsljhjbabdsdjkhfbaehjesfgw
              gfgdsdhhgfdadksjkhfadsjhfsdajkhfsddjkljghjsadghjasdafgowaegaefdkjawhdwsjkgdfiou
              fghasdfhjklsadzgasdbfjkkadsksadhaebsdjkbsadlzfbasbdfiueasdljkvboiusadfvbieasdgioubeogb
              gsduydagvhjkldsfghviusdnvhergisdniudsahvjksdhhiuernsdhergdskjneasiudhgjkaeshdoiuasdiuhasdkljasuijkgeui
              gahjsdfgouysadfhasddfhasddfhasd,dfuiadsfhiuasdhfksadghfhlasddfhsadasjfiuasddfugaddsfjkadsioufiuasesdftyhawaeesfdgoasdfhijol
              fsdghhsdijafgiouasddfsadfhhasd dfyuyasdsdfhaisdfhawiuesdfhyashzvasdsduiawaewhsdfjk;khasiuzfxcvhasdsufhvashvaesgodfu
              <div style="text-align: center;">
                <input type="checkbox" (change)="termAndConditionChange()" />
                <label style="margin-left: 10px;">Accept Terms and Condition</label>
              </div>
            </div>
            <div *ngIf="isTestEnable"style="text-align: center;background-color: skyblue;">
                <div style="text-align: center;">
                    <div class="col-md-6">asdada</div>
                </div>
                <div class="row">
                    <div class="col-md-6">asdada</div>
                    <div class="col-md-6">asdada</div>
                    <div class="col-md-6">asdada</div>
                    <div class="col-md-6">asdada</div>
                </div>
            </div>
          </div>
          <div id="modal-footer">
            <button class="btn btn-primary" style="margin: auto;display: block;" (click)="continueToTest()" *ngIf="!isTestEnable">Continue</button>
          </div>
        </div>
      </div>  